<html>
<body>
<form action="{{ path('create_user') }}" method="post">
    {% for user in users %}
        <li>
            <label>Username:</label>
            <input type="text" value="{{ user.username }}" />
            <label>Password:</label>
            <input type="text" value="{{ user.password }}" />
            <a href="{{ path('edit_user', { 'id': user.id }) }}">
                Edit
            </a>
            <a href="{{ path('delete_user', { 'id': user.id }) }}">
                Delete
            </a>
        </li>
    {% endfor %}
    <br>
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" />
    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />
    <br>
    <input type="checkbox" name="roles[]" value="1">ROLE_ADMIN<br>
    <input type="checkbox" name="roles[]" value="2">ROLE_USER<br>
    <button type="submit">Add</button>
</form>
</body>
</html>
