<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Admin - Edit Post</title>
    <link rel="stylesheet" href="{{ asset('bundles/acmeblog/css/normalize.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/acmeblog/css/main.css') }}" />
    <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: "textarea",
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
        });
    </script>
</head>
<body>

<div id="wrapper">
    {{ include('AcmeBlogBundle:Admin:menu.html.twig') }}
    <p><a href="{{ path('blog_admin_index') }}">Blog Admin Index</a></p>
    <h2>Add Post</h2>

    <form action="{{ path('blog_update') }}" method="post">
        <p><label>Title</label><br />
            <input type='text' name='postTitle' value=''></p>

        <p><label>Description</label><br />
            <textarea name='postDesc' cols='60' rows='10'></textarea></p>

        <p><label>Content</label><br />
            <textarea name='postCont' cols='60' rows='10'></textarea></p>

        <p><input type='submit' name='submit' value='Update'></p>
    </form>
</div>
</body>
</html>