{% extends 'AcmeBlogBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
    {{ include('AcmeBlogBundle:Admin:head.html.twig') }}
    <h1 class="title">Blog</h1>

    <div class="symfony-blocks-welcome">
        <div class="block-quick-tour">
            <div class="illustration">
                <img src="{{ asset('bundles/acmeblog/images/blog.jpg') }}" alt="Quick tour" />
            </div>
            <a href="{{ path('blog') }}" class="sf-button sf-button-selected">
                <span class="border-l">
                    <span class="border-r">
                        <span class="btn-bg">Blog</span>
                    </span>
                </span>
            </a>
        </div>
        {% if app.environment == 'dev' %}
            <div class="block-configure">
                <div class="illustration">
                    <img src="{{ asset('bundles/acmeblog/images/photos.jpg') }}" alt="Configure your application" />
                </div>
                <a href="{{ path('photos') }}" class="sf-button sf-button-selected">
                    <span class="border-l">
                        <span class="border-r">
                            <span class="btn-bg">Photos</span>
                        </span>
                    </span>
                </a>
            </div>
        {% endif %}
        <div class="block-demo">
            <div class="illustration">
                <img src="{{ asset('bundles/acmeblog/images/links.jpg') }}" alt="Demo" />
            </div>
            <a href="{{ path('_demo') }}" class="sf-button sf-button-selected">
                <span class="border-l">
                    <span class="border-r">
                        <span class="btn-bg">Links</span>
                    </span>
                </span>
            </a>
        </div>
    </div>

{% endblock %}
